a	{
	text-decoration:none;
	color:black;
}

#rectangle  {
			display: flex;
    		flex-direction: row;
    		justify-content: space-between;
    		width: 86%;
    		margin: 1% 7% 1% 7%;
 }

 #left	{
 		display: flex;
    	flex-direction: column;
    	justify-content: space-between;
    	margin: 2.5%;
 }

 nav	{
 		color: black;
    	margin-bottom: 5%;
 }

 nav h1 {
		font-family: avenir, sans-serif;
	    font-size: 2.5em;
	    font-style: oblique;
	    font-weight: 900;
	    margin-top: 0%;
	    line-height: 1.2;
	    margin-bottom: 0%;
	 	color:black;
 }

 nav h3 {
	 	list-style-type: none;
	    margin: 0;
	    padding: 0 0 0 10px;
	    font-family: optima, verdana, sans-serif;
	    font-size: 0.9em;
	    line-height: 1.4;
	    font-weight: 300;
	 color:black;
 }

 #droite {
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    margin: 2.5%;
}

.grfig {
	    width: 100%;
	    margin: 2% 0 2% 0;
	    padding: 0;
}
