body, html {
    	height: 100%;
    	margin: 0;
}

.bg {
    /* The image used */
    background-image: url("https://cdn.pixabay.com/photo/2017/04/08/11/07/nerve-cell-2213009_960_720.jpg");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1	{
	color:#FFF;
	font-family:avenir, sans-serif;
	font-size: 2.5em;
	font-style: oblique;
	font-weight: 900;
}
